# This is a sample build configuration for JavaScript.
# Check our guides at https://confluence.atlassian.com/x/14UWN for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: node:6.9.4

pipelines:
  default:
    - step:
        caches:
          - node
        script: # Modify the commands below to build your repository.
          - npm install
          - npm test
          - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
          - docker build -t $DOCKER_USER/hello-world .
          - docker push $DOCKER_USER/hello-world
options:
  docker: true